/Nest.BaseCore/.vs
/Nest.BaseCore/Nest.BaseCore/bin
/Nest.BaseCore/Nest.BaseCore/obj
/Nest.BaseCore/Nest.BaseCore.Aop/bin
/Nest.BaseCore/Nest.BaseCore.Aop/obj
/Nest.BaseCore/Nest.BaseCore.Cache/bin
/Nest.BaseCore/Nest.BaseCore.Cache/obj
/Nest.BaseCore/Nest.BaseCore.Common/bin
/Nest.BaseCore/Nest.BaseCore.Common/obj
/Nest.BaseCore/Nest.BaseCore.Domian/bin
/Nest.BaseCore/Nest.BaseCore.Domian/obj
/Nest.BaseCore/Nest.BaseCore.Log/bin
/Nest.BaseCore/Nest.BaseCore.Log/obj
/Nest.BaseCore/Nest.BaseCore.Repository/bin
/Nest.BaseCore/Nest.BaseCore.Repository/obj
/Nest.BaseCore/Nest.BaseCore.Service/bin
/Nest.BaseCore/Nest.BaseCore.Service/obj
/Nest.BaseCore/Nest.BaseCore.Test/bin
/Nest.BaseCore/Nest.BaseCore.Test/obj
/Nest.BaseCore/Nest.BaseCore.Web/bin
/Nest.BaseCore/Nest.BaseCore.Web/obj
/Nest.BaseCore/Nest.BaseCore.Api/bin
/Nest.BaseCore/Nest.BaseCore.Api/obj
/Nest.BaseCore/Nest.BaseCore.Domain/bin
/Nest.BaseCore/Nest.BaseCore.Domain/obj
/Nest.BaseCore/Nest.BaseCore.ApiTest/bin
/Nest.BaseCore/Nest.BaseCore.ApiTest/obj
/Nest.BaseCore/Nest.BaseCore.Api/*.user
/Nest.BaseCore/Nest.BaseCore.Api/Log
/Nest.BaseCore/Nest.BaseCore.ApiTest
/Nest.BaseCore/Nest.BaseCore.BusinessLogic/bin
/Nest.BaseCore/Nest.BaseCore.BusinessLogic/obj
/Nest.BaseCore/Nest.BaseCore.Database/bin
/Nest.BaseCore/Nest.BaseCore.Database/obj
/Nest.BaseCore/UnitTestProject1/bin
/Nest.BaseCore/UnitTestProject1/obj
/Nest.BaseCore/Nest.BaseCore.SecondApi/obj
/Nest.BaseCore/Nest.BaseCore.SecondApi/bin
/Nest.BaseCore/Nest.BaseCore.FirstApi/obj
/Nest.BaseCore/Nest.BaseCore.FirstApi/bin
/Nest.BaseCore/Nest.BaseCore.Gateway/obj
/Nest.BaseCore/Nest.BaseCore.Gateway/bin
